<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>643731561390-sm234b6ktjgilpskrb1g283dli342ae0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643731561390-sm234b6ktjgilpskrb1g283dli342ae0</string>
	<key>API_KEY</key>
	<string>AIzaSyAVoIZ2XY10ERE-BJPiSeoLkZD3FJTrCYo</string>
	<key>GCM_SENDER_ID</key>
	<string>643731561390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buubui.EventBuilder</string>
	<key>PROJECT_ID</key>
	<string>popping-torch-3350</string>
	<key>STORAGE_BUCKET</key>
	<string>popping-torch-3350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:643731561390:ios:3652f369650f7207</string>
	<key>DATABASE_URL</key>
	<string>https://popping-torch-3350.firebaseio.com</string>
</dict>
</plist>